{
    "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier",
    "react",
    "react-hooks",
    "jsx-a11y",
    "@typescript-eslint",
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
    "project": "./tsconfig.eslint.json",
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js"]}],
    "@typescript-eslint/semi": ["error"],
    // "@typescript-eslint/no-unused-vars":0,
    // "react/jsx-one-expression-per-line": [2, { "allow": "single-child" }],
    "react/destructuring-assignment":0,
    // "react/jsx-closing-bracket-location": [
    //   1,
    //   { "selfClosing": "line-aligned", "nonEmpty": "tag-aligned" }
    // ],
    "indent": [
        2,
        2,
        {
          "SwitchCase": 1,
        },
      ],
  },
  "ignorePatterns": ["node_modules/*", "example/*"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"],
    },
      "import/ignore": ["types"],
    }
    
}
