{
    "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier",
    // "redux-saga",
    "react",
    "react-hooks",
    "jsx-a11y",
    "@typescript-eslint",
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
    "project": "./tsconfig.eslint.json",
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js"]}],
    // "prettier/prettier": ["error", "./.prettierrc"],
    "indent": [
        2,
        2,
        {
          "SwitchCase": 1,
        },
      ],
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"],
    },
      "import/ignore": ["types"],
    }
    
}
